# macOS system files
.DS_Store
**/.DS_Store

# JVM / Java compiled files
*.class
**/out/

# IntelliJ IDEA project files
.idea/
*.iml

# Ignore compiled C++ binaries (files without an extension)
# Under DP/
DP/*
!DP/*/
!DP/*.*

# Under DP/AtCoder/
DP/AtCoder/*
!DP/AtCoder/*/
!DP/AtCoder/*.*

# VS Code temp files
*tempCodeRunnerFile*

