# macOS system files
.DS_Store
**/.DS_Store

# Ignore everything by default
*

# Do not ignore directories (to allow traversing)
!**/

# Specifically ignore development environment / build directories
.idea/
.vscode/
**/out/
**/bin/

# Do not ignore Git configuration/ignore files
!.gitignore
!.gitattributes

# Do not ignore C++ source files
!**/*.cpp

# Ignore VS Code temp files
*tempCodeRunnerFile*
